In [1]:
#Question1

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

In [2]:
#Question2

In [ ]:
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

1) CREATE TABLE
The CREATE TABLE command creates a new table in the database.
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2)
);

2) DROP TABLE
The DROP TABLE command deletes a table in the database.
DROP TABLE employees;

3) ALTER TABLE
The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.
ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

4)  TRUNCATE TABLE
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE employees;

In [3]:
#Question3

In [ ]:
Data Manipulation Language, or DML, is used to insert, update, and delete records among other database-related operations.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:
1) The INSERT command is used to add new rows (records) into a database table.
INSERT INTO employees (employee_id, name, salary, email)
VALUES (101, 'John Doe', 50000.00, 'john.doe@example.com');

2) The DELETE statement removes a row or combination of rows from a table.
DELETE FROM employees
WHERE employee_id = 101;

3) The UPDATE stUPDATE employees
SET salary = 55000.00
WHERE employee_id = 101;
atement enables users to update a row or group of rows in a table.

In [ ]:
#Question4

In [ ]:
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it
SELECT is one of the fundamental SQL (Structured Query Language) commands used to retrieve data from a database. It allows you to query a database table and retrieve specific rows and columns of data based on various conditions.
SELECT column1, column2, ...
FROM table_name
WHERE condition;

In [ ]:
#Question5

In [ ]:
A primary key is a unique identifier for each record in a table. A foreign key establishes a relationship between tables by referencing the primary key of another table.

In [ ]:
#Question6

In [ ]:
import mysql.connector

db_connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = db_connection.cursor()

cursor.execute("SELECT * FROM your_table")

results = cursor.fetchall()

for row in results:
    print(row)

insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
values = ("value1", "value2")

cursor.execute(insert_query, values)

db_connection.commit()

update_query = "UPDATE your_table SET column1 = %s WHERE column2 = %s"
new_value = "new_value"
old_value = "value2"

cursor.execute(update_query, (new_value, old_value))

db_connection.commit()

delete_query = "DELETE FROM your_table WHERE column1 = %s"
value_to_delete = "value1"

cursor.execute(delete_query, (value_to_delete,))

db_connection.commit()

cursor.close()
db_connection.close()




## The cursor() method creates a cursor object, which is used to interact with the database. 
##  The execute() method is used to execute SQL queries or commands. You pass the SQL query as a string to this method, and it sends the query to the database for execution.

In [ ]:
#Question7

In [ ]:
The order of SQL Clauses in SQL query
FROM/JOIN. The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE. The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET